* {
    font-family: montserrat;
}
.loader-wrapper {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #34db74;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.background-lingkaran {
    width: 350px;
    height: 350px;
    z-index: -9999;
}
